name: nsysu_ap
description: NSYSU AP

version: 1.3.4+10304

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0
  multiple_localization: ^0.5.0

  ap_common: ^0.25.0-dev.0
  ap_common_firebase: ^0.16.0-dev.2
  ap_common_plugin: 0.4.1
  #     path: ../ap_common_plugin

  #official plugin
  http: ^1.2.2
  html: ^0.15.0
  url_launcher: ^6.1.5

  #third party plugin
  encrypt: ^5.0.0
  sprintf: ^7.0.0
  crypto: ^3.0.1
  dio: ^5.0.0
  dio_cookie_manager: ^3.0.0
  cookie_jar: ^4.0.3
  flutter_inappwebview: ^6.0.0
  desktop_webview_window: ^0.2.3
  webview_windows: ^0.4.0
  timeago: ^3.0.2
  google_sign_in_dartio: ^0.3.0
  json_annotation: ^4.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  lint: ^2.1.2
  build_runner: ^2.1.5
  json_serializable: ^6.0.1
  inno_bundle: ^0.6.1

dependency_overrides:
#  ap_common:
#    path: ../../GitHub-NKUST-ITC/ap_common
#  ap_common_firebase:
#    path: ../ap_common_firebase
#  ap_common_plugin:
#    path: ../ap_common_plugin
  intl: 0.18.0

flutter:

  uses-material-design: true
  assets:
    - assets/images/
    - changelog.json
    - assets/car_park_area.json
    - assets/ca/

inno_bundle:
  id: 45592FA8-AF18-4887-8173-5B0FF5C932D6
  publisher: NSYSU Code Club
  name: NSYSU AP

flutter_intl:
  enabled: true
  class_name: AppLocalizations
  main_locale: 'zh_TW'
  arb_dir: lib/l10n
  output_dir: lib/l10n
  use_deferred_loading: true