<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<array>
		<string>en</string>
		<string>zh</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>${CFBundleDisplayName}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>nsysuap</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
    		<dict>
    			<key>CFBundleTypeRole</key>
    			<string>Editor</string>
    			<key>CFBundleURLName</key>
    			<string>com.nsysu.ap</string>
    			<key>CFBundleURLSchemes</key>
    			<array>
    				<string>nsysuap</string>
    			</array>
    		</dict>
    	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>NSAppTransportSecurity</key>
    <dict>
    	<key>NSAllowsArbitraryLoads</key>
    	<true/>
    </dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCalendarsUsageDescription</key>
	<string>Feature calendar would be add course to calendar app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Feature course table export</string>
	<key>NSInternalInconsistencyException</key>
	<string>Feature sure user in school.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Feature sure user in school.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Feature sure user in school.</string>
	<key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    			<string>com.googleusercontent.apps.183269888565-70pb0kkietf205lp5h45eicn50u0u641</string>
    		</array>
    	</dict>
    </array>
</dict>
</plist>
